---
layout: default
---

<a class="btn-mappa btn-mappa-home" target="mappa-zizzu" href="https://mappa.zizzu.it">Vai alla mappa</a>

{% for post in paginator.posts %}
<article class="post post-news" role="article" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="post-header">
        <ul>
            <li><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%-d %b, %Y" }}</time></li>
            {% if site.show_categories == 1 and post.category %}
                <li class="cats">
                    {% for category in post.category %}
                        <a href="{{site.baseurl}}/{{site.category_dir}}/{{category}}/">{{ category }}</a>
                    {% endfor %}
                </li>
            {% endif %}
        </ul>
        <h2 itemprop="name headline">
          <a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">
            {{ post.title }}
            <small>leggi</small>
          </a>
        </h2>
    </header>
</article>
{% endfor %}

<article class="post" role="article">
    <header class="post-header">
        <h2>
          Nasce Zizzu.it
        </h2>
    </header>

    <div class="post-content">
      <h3>I negozi del tuo quartiere, a casa tua</h3>

      <p>
        In questo periodo di emergenza, alcuni <strong>Enti locali</strong> e <strong>Associazioni di categoria</strong> raccolgono le adesioni degli esercizi commerciali che effettuano consegna a domicilio.
      </p>
      <p>
        Noi li aiutiamo, raccogliamo i dati e li portiamo ai cittadini in maniera facile e personalizzabile. Visita la <a href="https://mappa.zizzu.it" target="zizzu-mappa">mappa online</a> di oltre 4000 esercizi commerciali in tutta Italia.
      <p>

      <h3>Kit di istruzioni per Pubbliche Amministrazioni e Enti</h3>

      <p>
        Chi meglio degli Enti pubblici conosce gli esercizi commerciali del territorio? In questi giorni si vedono tanti elenchi di attività, ma per il cittadino è difficile capire gli esercizi commerciali più vicini a lui o quali sono i servizi offerti.
      </p>
      <p>
        Offriamo supporto, tramite un <a href="{{site.baseurl}}/il-kit">kit di istruzioni</a> in fase di espansione, agli Enti che vogliono partecipare al progetto <strong>mantenendo tutto il controllo sui dati</strong> che circolano.
      <p>

      <h3>Come funziona?</h3>

      <p>
        Maggiori approfondimenti li trovi nella  <a href="{{site.baseurl}}/il-kit">pagina dedicata al  kit</a>, ma ti anticipiamo le basi:
        <ul>
          <li>
            Si crea una mappa tramite Google My Maps
          </li>
          <li>
            Si segnala la mappa allo staff di Zizzu.it
          </li>
          <li>
            Entro 24h gli esercizi compaiono sul nostro sito
          </li>
          <li>
            Qualsiasi aggiornamento (inserimento, modifiche o cancellazioni) vengono aggiornate automaticamente ogni 24h
          </li>
          <li>
            È possibile comunque incorporare la propria mappa dentro il proprio sito istuzionale. Ricordi? Il controllo è tuo!
          </li>
        </ul>
      </p>
      <p>
        Offriamo supporto, tramite un <a href="{{site.baseurl}}/il-kit">kit di istruzioni</a> in fase di espansione, agli Enti che vogliono partecipare al progetto <strong>mantenendo tutto il controllo sui dati</strong> che circolano.
      <p>
    </div>
</article>
