---
layout: default
bodyClass: page-home
---

<div class="container pt-2">
  <div class="call w-100 p-3 d-block">
    <h1>
      <!-- <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/images/logo.png" /></a> -->
      <!-- Dobbiamo stare a casa. <span class="h3 ">Ma la spesa?</span> -->
      I negozi del tuo quartiere
    </h1>
    <p>
      <!-- Zizzu.it è un progetto aperto a tutti, Pubblica Amministrazione, Associazioni di categoria e privati cittadini.
      <br>
      Ognuno può fare la sua parte per rendere più facile possibile far scoprire ai cittadini i negozi di quartiere che effettuano consegne a domicilio.
      <br> -->
      In questo periodo di emergenza, alcuni Enti locali e Associazioni di categoria hanno messo su mappa i loro contributi, 
      noi li aiutiamo, raccogliamo i dati e li portiamo ai cittadini in maniera facile e personalizzabile.
      <br>
      <br>
      <a href='/mappa.html' type="button" class="float-right btn btn-primary">
        Vai alla mappa
      </a>

<!--
      <br>
       Siamo programmatori, sappiamo solo lanciare le falangette sulla tastiera
       e scrivere codice mentre altre categorie rischiano di più. -->
    </p>
  </div>
</div>




<div class="container pt-2 d-none">
  <div class="call">
    <div class="call-box-top">
      <div class="call-phone"><strong>Facebook: </strong>
        <a href="mailto:{{ site.data.contact.facebook }}" >
          Visita la pagina
        </a>
      </div>
      <div class="call-email"><strong>Email: </strong>
        <a href="mailto:{{ site.data.contact.email }}">
          {{ site.data.contact.email }}
        </a>
      </div>
    </div>
    <div class="call-box-bottom">
      <a href="https://forms.gle/2PHKwhzFAKVK1TPA7" target="_blank" class="button">oppure scrivici</a>
    </div>
  </div>
</div>

<!-- <div class="container pt-8 pt-md-10">
  <div class="row justify-content-start">
    <div class="col-12">
      <h2 class="title-3 text-dark mb-3">A chi si rivolge</h2>
    </div>
    {% for service in site.services %}
    <div class="col-12 col-md-4 mb-1">
      <div class="service service-summary">
        <div class="service-content">
          <h2 class="service-title">
            <a href="{{site.baseurl}}{{ service.url }}">{{ service.title }}</a>
          </h2>
          {{ service.content | markdownify | strip_html | truncate: 100 }}
        </div>
      </div>
    </div>
    {% endfor %}
    <div class="col-12 text-center">
      <a class="button button-primary mt-2" href="{{site.baseurl}}/services">View All Services</a>
    </div>
  </div>
</div> -->

<div class="container pt-2 pb-2 pt-md-4 pb-md-4">
  <div class="row justify-content-center">
    <!-- <div class="col-12">
      <h2 class="p-1 title-3 text-dark mb-4 text-center" style="background-color: #ffffffeb;">
        A chi si rivolge il progetto
      </h2>
    </div> -->
    {% for feature in site.data.features %}
    <div class="col-12 col-md-4 col-lg-4 mb-2">
      <div class="feature">
        {% if feature.image %}
          <div class="feature-image d-none d-sm-block">
            <img alt="{{ feature.title }} logo" src="{{ feature.image }}" />
          </div>
        {% endif %}
        <h2 class="feature-title">{{ feature.title }}</h2>
        <div class="feature-content">{{ feature.description  | markdownify }}</div>
        <a href="https://forms.gle/2PHKwhzFAKVK1TPA7" target="_blank" type="button" class="mt-2 btn btn-outline-primary">{{ feature.CTA }} </a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
