---
layout: default
bodyClass: page-home
---

<div class="container pt-2">
  <div class="call w-100 p-3 d-block">
    <h1>
      La tua spesa, dai negozi del tuo quartiere
    </h1>
    <p>
      In questo periodo di emergenza, alcuni Enti locali e Associazioni di categoria
      raccolgono le adesioni degli esercizi commerciali che effettuano consegna a domicilio.
      <br>
      Noi li aiutiamo, raccogliamo i dati e li portiamo ai cittadini in maniera facile e personalizzabile.
    </p>
  </div>
</div>


<div class="container pt-2 d-lg-flex justify-content-between d-block ">
  <div class="call mt-0 mt-xl-0">
    <div class="call-box-top">
      <div class="call-phone"><strong>Facebook: </strong>
        <a href="mailto:{{ site.data.contact.facebook }}" >
          Visita la pagina
        </a>
      </div>
      <div class="call-email"><strong>Email: </strong>
        <a href="mailto:{{ site.data.contact.email }}">
          {{ site.data.contact.email }}
        </a>
      </div>
    </div>
    <div class="call-box-bottom">
      <a href="https://forms.gle/2PHKwhzFAKVK1TPA7" target="_blank" class="button">assistenza</a>
    </div>
  </div>


  <div class="call mt-2 mt-xl-0">
    <div class="call-box-top">
    <div class="call-box-bottom text-center">
      <a href="https://mappa.zizzu.it" target="mappa-zizzu" class="button">Vai alla MAPPA</a>
    </div>
  </div>
</div>
</div>
<!-- <div class="container pt-8 pt-md-10">
  <div class="row justify-content-start">
    <div class="col-12">
      <h2 class="title-3 text-dark mb-3">A chi si rivolge</h2>
    </div>
    {% for service in site.services %}
    <div class="col-12 col-md-4 mb-1">
      <div class="service service-summary">
        <div class="service-content">
          <h2 class="service-title">
            <a href="{{site.baseurl}}{{ service.url }}">{{ service.title }}</a>
          </h2>
          {{ service.content | markdownify | strip_html | truncate: 100 }}
        </div>
      </div>
    </div>
    {% endfor %}
    <div class="col-12 text-center">
      <a class="button button-primary mt-2" href="{{site.baseurl}}/services">View All Services</a>
    </div>
  </div>
</div> -->

<div class="container pt-2 pb-2 pt-md-4 pb-md-4" id="partecipa">
  <div class="row justify-content-center">
    <!-- <div class="col-12">
      <h2 class="p-1 title-3 text-dark mb-4 text-center" style="background-color: #ffffffeb;">
        A chi si rivolge il progetto
      </h2>
    </div> -->
    {% for feature in site.data.features %}
    <div class="col-12 col-md-4 col-lg-4 mb-2">
      <div class="feature">
        {% if feature.image %}
          <div class="feature-image d-none d-sm-block">
            <img alt="{{ feature.title }} logo" src="{{ feature.image }}" />
          </div>
        {% endif %}
        <h2 class="feature-title">{{ feature.title }}</h2>
        <div class="feature-content">{{ feature.description  | markdownify }}</div>
        {% if feature.private %}
        <a href="https://forms.gle/2PHKwhzFAKVK1TPA7" target="_blank" type="button" class="mt-2 btn btn-outline-primary">{{ feature.CTA }} </a>
        {% else %}
        <a href="{{site.baseurl}}/il-kit" type="button" class="mt-2 btn btn-outline-primary">{{ feature.CTA }} </a>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
