<div id="main-menu" class="main-menu">
  <ul>
    <!-- <li><a href="{{site.baseurl}}/" class="{% if page.url == '/' %}current{% endif %}">Home</a></li> -->
    <!-- <li><a href="{{site.baseurl}}/il-kit/" class="{% if page.url contains 'il-kit' %}current{% endif %}">Il kit</a></li>
    <li><a href="{{site.baseurl}}/partecipanti/" class="{% if page.url contains 'partecipanti' %}current{% endif %}">Chi partecipa?</a></li>
    <li><a href="{{site.baseurl}}/chi-siamo/" class="{% if page.url contains 'team' %}current{% endif %}">Chi siamo</a></li>
    <li><a href="{{site.baseurl}}/legals/" class="{% if page.url contains 'legals' %}current{% endif %}">Legals</a></li> -->
  </ul>
</div>