<ul>Regione <a href="https://mappa.zizzu.it/home?zoom=8&center=45.47906709999999,9.8452433">Lombardia</a> 3350 esercizi
  <li> <a href="https://mappa.zizzu.it/home?zoom=12&center=45.458626,9.181873">Città Metropolitana di Milano</a> 823 esercizi</li>
  <li> <a href="https://mappa.zizzu.it/home?zoom=12&center=45.6596772,10.3856716">Provincia di Brescia</a> 825 esercizi</li>
  <li> <a href="https://mappa.zizzu.it/home?zoom=12&center=45.623599,9.258801499999999">Provincia di Monza e della Brianza</a> 61 esercizi</li>
  <li> <a href="https://mappa.zizzu.it/home?zoom=12&center=45.3218166,8.8466236">Provincia di Pavia</a> 14 esercizi</li>
  <li> <a href="https://mappa.zizzu.it/home?zoom=12&center=45.799026,8.730094500000002">Provincia di Varese</a> 75 esercizi</li>
  <li> <a href="https://mappa.zizzu.it/home?zoom=12&center=45.8578304,9.881997799999999">Provincia di Bergamo</a> 1535 esercizi</li>
 </ul>
 <ul>Regione <a href="https://mappa.zizzu.it/home?zoom=8&center=42.1920119,13.7289167">Abruzzo</a> 32 esercizi
  <li> <a href="https://mappa.zizzu.it/home?zoom=12&center=42.0334428,14.3791912">Provincia di Chieti</a> 16 esercizi</li>
 </ul>
 <ul>Regione <a href="https://mappa.zizzu.it/home?zoom=8&center=40.6430766,15.9699878">Basilicata</a> 31 esercizi
  <li> <a href="https://mappa.zizzu.it/home?zoom=12&center=40.4182194,15.876004">Provincia di Potenza</a> 27 esercizi</li>
 </ul>
 <ul>Regione <a href="https://mappa.zizzu.it/home?zoom=8&center=39.3087714,16.3463791">Calabria</a> 44 esercizi
  <li> <a href="https://mappa.zizzu.it/home?zoom=12&center=38.8896348,16.4405872">Provincia di Catanzaro</a> 12 esercizi</li>
  <li> <a href="https://mappa.zizzu.it/home?zoom=12&center=39.5644105,16.2522143">Provincia di Cosenza</a> 28 esercizi</li>
 </ul>
 <ul>Regione <a href="https://mappa.zizzu.it/home?zoom=8&center=41.10994729999999,14.8475139">Campania</a> 63 esercizi
  <li> <a href="https://mappa.zizzu.it/home?zoom=12&center=40.996451,15.1258955">Provincia di Avellino</a> 28 esercizi</li>
  <li> <a href="https://mappa.zizzu.it/home?zoom=12&center=41.2035093,14.7520939">Provincia di Benevento</a> 20 esercizi</li>
  <li> <a href="https://mappa.zizzu.it/home?zoom=12&center=40.4287832,15.2194808">Provincia di Salerno</a> 12 esercizi</li>
 </ul>
 <ul>Regione <a href="https://mappa.zizzu.it/home?zoom=8&center=44.5967607,11.2186396">Emilia-Romagna</a> 568 esercizi
  <li> <a href="https://mappa.zizzu.it/home?zoom=12&center=44.50051010000001,11.3047836">Città Metropolitana di Bologna</a> 154 esercizi</li>
  <li> <a href="https://mappa.zizzu.it/home?zoom=12&center=43.99476809999999,11.9804613">Provincia di Forlì-Cesena</a> 10 esercizi</li>
  <li> <a href="https://mappa.zizzu.it/home?zoom=12&center=44.5513799,10.918048">Provincia di Modena</a> 14 esercizi</li>
  <li> <a href="https://mappa.zizzu.it/home?zoom=12&center=44.8015322,10.3279354">Provincia di Parma</a> 12 esercizi</li>
  <li> <a href="https://mappa.zizzu.it/home?zoom=12&center=44.8263112,9.529144700000002">Provincia di Piacenza</a> 18 esercizi</li>
  <li> <a href="https://mappa.zizzu.it/home?zoom=12&center=44.4184443,12.2035998">Provincia di Ravenna</a> 316 esercizi</li>
  <li> <a href="https://mappa.zizzu.it/home?zoom=12&center=44.585658,10.5564736">Provincia di Reggio Emilia</a> 16 esercizi</li>
  <li> <a href="https://mappa.zizzu.it/home?zoom=12&center=43.967605,12.5757028">Provincia di Rimini</a> 19 esercizi</li>
 </ul>
 <ul>Regione <a href="https://mappa.zizzu.it/home?zoom=8&center=46.2259177,13.1033646">Friuli-Venezia Giulia</a> 39 esercizi
  <li> <a href="https://mappa.zizzu.it/home?zoom=12&center=45.9053899,13.5163725">Provincia di Gorizia</a> 18 esercizi</li>
  <li> <a href="https://mappa.zizzu.it/home?zoom=12&center=46.14079719999999,13.1662896">Provincia di Udine</a> 19 esercizi</li>
 </ul>
 <ul>Regione <a href="https://mappa.zizzu.it/home?zoom=8&center=41.6552418,12.989615">Lazio</a> 643 esercizi
  <li> <a href="https://mappa.zizzu.it/home?zoom=12&center=41.9027008,12.4962352">Città Metropolitana di Roma</a> 622 esercizi</li>
  <li> <a href="https://mappa.zizzu.it/home?zoom=12&center=42.400242,11.8891721">Provincia di Viterbo</a> 10 esercizi</li>
 </ul>
 <ul>Regione <a href="https://mappa.zizzu.it/home?zoom=8&center=44.3167917,8.3964938">Liguria</a> 396 esercizi
  <li> <a href="https://mappa.zizzu.it/home?zoom=12&center=44.4056493,8.9462564">Città Metropolitana di Genova</a> 21 esercizi</li>
  <li> <a href="https://mappa.zizzu.it/home?zoom=12&center=43.941866,7.828636800000001">Provincia di Imperia</a> 80 esercizi</li>
  <li> <a href="https://mappa.zizzu.it/home?zoom=12&center=44.2447913,9.7678687">Provincia della Spezia</a> 237 esercizi</li>
  <li> <a href="https://mappa.zizzu.it/home?zoom=12&center=44.2887995,8.265058">Provincia di Savona</a> 58 esercizi</li>
 </ul>
 <ul>Regione <a href="https://mappa.zizzu.it/home?zoom=8&center=45.4414662,12.3152595">Veneto</a> 640 esercizi
  <li> <a href="https://mappa.zizzu.it/home?zoom=12&center=45.4418498,11.0735316">Provincia di Verona</a> 67 esercizi</li>
  <li> <a href="https://mappa.zizzu.it/home?zoom=12&center=46.1424635,12.2167088">Provincia di Belluno</a> 20 esercizi</li>
  <li> <a href="https://mappa.zizzu.it/home?zoom=12&center=45.3661864,11.8209139">Provincia di Padova</a> 98 esercizi</li>
  <li> <a href="https://mappa.zizzu.it/home?zoom=12&center=45.6668517,12.2430617">Provincia di Treviso</a> 48 esercizi</li>
  <li> <a href="https://mappa.zizzu.it/home?zoom=12&center=45.44146850000001,12.3152672">Città Metropolitana di Venezia</a> 379 esercizi</li>
  <li> <a href="https://mappa.zizzu.it/home?zoom=12&center=45.6983995,11.5661465">Provincia di Vicenza</a> 25 esercizi</li>
 </ul>
 <ul>Regione <a href="https://mappa.zizzu.it/home?zoom=8&center=43.5058744,12.989615">Marche</a> 51 esercizi
  <li> <a href="https://mappa.zizzu.it/home?zoom=12&center=43.5493245,13.2663479">Provincia di Ancona</a> 32 esercizi</li>
  <li> <a href="https://mappa.zizzu.it/home?zoom=12&center=43.6130118,12.7135121">Provincia di Pesaro e Urbino</a> 14 esercizi</li>
 </ul>
 <ul>Regione <a href="https://mappa.zizzu.it/home?zoom=8&center=41.6318093,14.492712">Molise</a> 28 esercizi
  <li> <a href="https://mappa.zizzu.it/home?zoom=12&center=41.67388649999999,14.7520939">Provincia di Campobasso</a> 28 esercizi</li>
 </ul>
 <ul>Regione <a href="https://mappa.zizzu.it/home?zoom=8&center=45.0522366,7.5153885">Piemonte</a> 2855 esercizi
  <li> <a href="https://mappa.zizzu.it/home?zoom=12&center=44.8175587,8.7046627">Provincia di Alessandria</a> 208 esercizi</li>
  <li> <a href="https://mappa.zizzu.it/home?zoom=12&center=45.3202204,8.418508">Provincia di Vercelli</a> 21 esercizi</li>
  <li> <a href="https://mappa.zizzu.it/home?zoom=12&center=44.9007652,8.206431499999999">Provincia di Asti</a> 61 esercizi</li>
  <li> <a href="https://mappa.zizzu.it/home?zoom=12&center=45.5628176,8.058271699999999">Provincia di Biella</a> 26 esercizi</li>
  <li> <a href="https://mappa.zizzu.it/home?zoom=12&center=44.5970314,7.6114217">Provincia di Cuneo</a> 456 esercizi</li>
  <li> <a href="https://mappa.zizzu.it/home?zoom=12&center=45.5485133,8.5150793">Provincia di Novara</a> 10 esercizi</li>
  <li> <a href="https://mappa.zizzu.it/home?zoom=12&center=45.063299,7.669289">Città Metropolitana di Torino</a> 2061 esercizi</li>
  <li> <a href="https://mappa.zizzu.it/home?zoom=12&center=46.1399688,8.2724649">Provincia del Verbano-Cusio-Ossola</a> 12 esercizi</li>
 </ul>
 <ul>Regione <a href="https://mappa.zizzu.it/home?zoom=8&center=40.7928393,17.1011931">Puglia</a> 38 esercizi
  <li> <a href="https://mappa.zizzu.it/home?zoom=12&center=41.1171231,16.8719764">Città Metropolitana di Bari</a> 12 esercizi</li>
  <li> <a href="https://mappa.zizzu.it/home?zoom=12&center=41.4621984,15.5446302">Provincia di Foggia</a> 10 esercizi</li>
  <li> <a href="https://mappa.zizzu.it/home?zoom=12&center=40.5740901,17.2429976">Provincia di Taranto</a> 10 esercizi</li>
 </ul>
 <ul>Regione <a href="https://mappa.zizzu.it/home?zoom=8&center=40.1208752,9.012892599999999">Sardegna</a> 166 esercizi
  <li> <a href="https://mappa.zizzu.it/home?zoom=12&center=39.2237632,9.1218671">Città Metropolitana di Cagliari</a> 125 esercizi</li>
  <li> <a href="https://mappa.zizzu.it/home?zoom=12&center=39.5560012,8.9245343">Sud Sardegna</a> 40 esercizi</li>
 </ul>
 <ul>Regione <a href="https://mappa.zizzu.it/home?zoom=8&center=37.5999938,14.0153557">Sicilia</a> 398 esercizi
  <li> <a href="https://mappa.zizzu.it/home?zoom=12&center=37.5078829,15.0830836">Provincia di Catania</a> 22 esercizi</li>
  <li> <a href="https://mappa.zizzu.it/home?zoom=12&center=38.1937369,15.5542157">Provincia di Messina</a> 339 esercizi</li>
  <li> <a href="https://mappa.zizzu.it/home?zoom=12&center=37.07543709999999,15.2865933">Provincia di Siracusa</a> 13 esercizi</li>
 </ul>
 <ul>Regione <a href="https://mappa.zizzu.it/home?zoom=8&center=43.7710513,11.2486208">Toscana</a> 1054 esercizi
  <li> <a href="https://mappa.zizzu.it/home?zoom=12&center=43.7679178,11.2523792">Città Metropolitana di Firenze</a> 446 esercizi</li>
  <li> <a href="https://mappa.zizzu.it/home?zoom=12&center=42.8518007,11.2523792">Provincia di Grosseto</a> 215 esercizi</li>
  <li> <a href="https://mappa.zizzu.it/home?zoom=12&center=43.0239848,10.6647101">Provincia di Livorno</a> 23 esercizi</li>
  <li> <a href="https://mappa.zizzu.it/home?zoom=12&center=43.8376736,10.495053">Provincia di Lucca</a> 24 esercizi</li>
  <li> <a href="https://mappa.zizzu.it/home?zoom=12&center=44.2213998,10.0359661">Provincia di Massa e Carrara</a> 78 esercizi</li>
  <li> <a href="https://mappa.zizzu.it/home?zoom=12&center=44.04539,11.1164452">Provincia di Prato</a> 133 esercizi</li>
  <li> <a href="https://mappa.zizzu.it/home?zoom=12&center=43.2937732,11.4339148">Provincia di Siena</a> 121 esercizi</li>
 </ul>
 <ul>Regione <a href="https://mappa.zizzu.it/home?zoom=8&center=46.4336662,11.1693296">Trentino-Alto Adige</a> 981 esercizi
  <li> <a href="https://mappa.zizzu.it/home?zoom=12&center=46.4336662,11.1693296">Trentino</a> 975 esercizi</li>
 </ul>
 <ul>Regione <a href="https://mappa.zizzu.it/home?zoom=8&center=42.938004,12.6216211">Umbria</a> 133 esercizi
  <li> <a href="https://mappa.zizzu.it/home?zoom=12&center=42.938004,12.6216211">Provincia di Perugia</a> 123 esercizi</li>
  <li> <a href="https://mappa.zizzu.it/home?zoom=12&center=42.5634534,12.5298028">Provincia di Terni</a> 10 esercizi</li>
 </ul>
 <ul>Regione <a href="https://mappa.zizzu.it/home?zoom=8&center=45.7388878,7.426186599999999">Valle d'Aosta</a> 106 esercizi
  <li> <a href="https://mappa.zizzu.it/home?zoom=12&center=45.7388878,7.426186599999999">Valle d'Aosta</a> 106 esercizi</li>
 </ul>
