<div class="sub-footer-strip">
  <div class="sub-footer">
    <ul class="pl-2">
      <li>
        Made with &hearts; in Turin by
        <a href="http://www.pasella.it/" target="zizzu-pasella">
          <img src="/assets/images/io.png" width="25px" class="align-text-bottom">
        </a>
      </li>
    </ul>
    <ul class="pr-2">
      <li>
        <button type="button"
                class="text-muted p-0 btn btn-link"
                onclick="alert('COMING SOON...')">
          &copy; credits
        </button>
      </li>
    </ul>
  </div>
</div>
